@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --charcoal: #2C2C2C;
  --teal: #0AB0BF;
  --blue: #0069CE;
  --darkteal: #00838F;
  --orange: #FF8853;
}

html {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

footer {
  position: relative;
}

.color-bars {
  position: absolute;
  bottom: 180px;
  left: -25px;
}

@keyframes reveal {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-bar {
  animation: reveal 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}